body {
  color: #eeeeee;
  background-color: #202020;
}

.main {
  max-width: 1100px;
}

h1, h2, h3, h4, h5, h6 {
  color: #bfe66a;
}

.active {
  /* placeholder */
}

a:link {
  color: #79bef0;
}

a:visited {
  color: #79bef0;
}

a:hover {
  filter: brightness(80%);
}

a:active {
  filter: brightness(60%);
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dashed #bfe66a;
}

.header-list {
  margin-bottom: 0px;
  color: #777777;
}

.header-list li {
  padding: 0px;
  border: 0px;
  margin-right: 0px !important;
}

.header-list li > a {
  padding: 0px;
  border: 0px;
}

.header-list li::after {
  padding-left: 8px;
  padding-right: 8px;
  content: "|";
}

.header-list li:last-child::after {
  content: "";
}

.footer {
  padding-top: 1rem;
}

.content {
  padding-top: 1.5rem;
}
