<!doctype html>
<html lang="en">
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177378949-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177378949-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
    <link rel="mask-icon" href="/favicon.svg" color="green">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha512-weZatQD41YXNCVn3Bvl2y1iAZqtH/Y+MlAQUwovog1iwj8cbSEpQMeErMnDp9CBlqIo0oxOcOF8GUEoOZYD4Zg==" crossorigin="anonymous" />

    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container-fluid main">
      <div class="container-fluid header">
        <h1>Jean Abed</h1>
        <nav>
          <ul class="list-inline header-list">
            <li class="list-inline-item"><a href="/">Home</a></li><!--
            --><li class="list-inline-item"><a href="/about">About</a></li><!--
            --><li class="list-inline-item"><a href="/projects">Projects</a></li>
          </ul>
        </nav>
      </div>

      <div class="container-fluid content">
        <section>
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>

